<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="0d98e1711511bad5603e965b33e2826af0c147ac" name="csrf-token" />
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container span12">
      


<h3>New Event</h3>
<hr/>



<form th:object="${event}" method="post" action="/events/create" class="form">
 


<div class="form-group">
  <label class="control-label" for="title">
    Title
  </label>
  <div class="controls row">
    <div class="">
      <div class="col-xs-12">
        <input type="text" name="title" class="form-control" value="" />
        <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</td>
      </div>
    </div>
      </div>
</div>
<div class="form-group">
  <label class="control-label">
    Start Date Time
  </label>
  <div class="controls row">
    <div class="">
      <div class="col-xs-2">
        <input type="datetime" name="startDatetime"   class="form-control" value=""  maxlength="19" />
        <td th:if="${#fields.hasErrors('startDatetime')}" th:errors="*{startDatetime}">Name Error</td>
      </div>
    </div>
      </div>
</div>
<div class="form-group">
  <label class="control-label">
    End Date Time
  </label>
  <div class="controls row">
    <div class="">
      <div class="col-xs-2">
        <input type="datetime" name="endDatetime" class="form-control" value=""  maxlength="19" />
        <td th:if="${#fields.hasErrors('endDatetime')}" th:errors="*{endDatetime}">Name Error</td>
      </div>
    </div>
      </div>
</div>
<div class="form-actions">
  <input type="hidden" name="csrf-token" value="0d98e1711511bad5603e965b33e2826af0c147ac"/>
  <input type="submit" class="btn btn-primary" value="Submit"/>
  <a class="btn btn-default" href="/events">Cancel</a>
</div>

</form>

      <hr/>
      <a class="btn btn-default" href="/">Top</a>
    </div>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>


